@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --green: #226624;
  --brown: #393939;
  --whitish: #EDE8E2;
  --white: #ffffff;
  --black: #000000;
}

html {
    box-sizing: border-box;
    background: var(--white);
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3 smooth;
  }
  
  body {
    margin: 0 ;
    color: var(--brown);

  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .newnav{
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
#header {
    text-align: center;
    height: 50vh;
    background: linear-gradient(rgba(255, 255, 255, 0.246) , rgb(255, 255, 255)),
    url(./imgs/home.jpg) bottom center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .biglogo{
    width: 20%;
  }
  
  nav {
    background: var(--white);
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
  }

  nav a {
    margin: 0 2%;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: var(--black);
    transition: all 0.2s;
    text-transform: uppercase;
  }
  
  nav a:hover{
    font-weight: 800;
    color: var(--green);


  }

  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  li.logo {
    max-width: 0;
    overflow: hidden;
    transition: all .5s;
  }
  
 .logo img{
  width: 30px;
 }

 /* .button{
   display: flex;
   justify-content: center;
   align-items: center;
   width:50%;
   height: 60%;
   background-color: var(--green);
   color: blanchedalmond;
   border-radius: 5px;
   text-decoration: none;
   margin: 2% 0;
 }
*/

 .button a{
   color: var(--green);
 }

 .button:hover{
   color: var(--green);
   font-weight: 800;
   background-color: rgba(0, 128, 0, 0);
 } 

 .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  height: 50px;
  color: var(--whitish);
  border-radius: 2px;
  text-decoration: none;
  margin: 2% 0;
 transition: all 0.3s;
 position: relative;
 background-color: var(--green);
 }
 
 .button::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0;
   transition: all 0.3s;
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-top-color: var(--green);
   border-bottom-color: var(--green);
   transform: scale(0.1, 1);
 }
 
 .button:hover::before {
   opacity: 1;	
   transform: scale(1, 1);	
 }
 .button::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   transition: all 0.3s;
 }
 .button:hover::after {
   opacity: 0;	
   transform: scale(0.1, 1);
 }
 

 
 .button i{
  margin: 0 5%;
 }

 main{
   margin: 0 auto;
   width: 70%;
   padding: 5% 1%;
 }

 .firstsectionofpage{
   padding: 0.8% 0.5% 0.2% 0.5%;
   display: flex;
   justify-content: center;
   border: 0.5px solid var(--whitish);
   border-radius: 15px;
   text-align: justify;

 }

 .firstsectionofpage img{
   width: 100%;
   height:410px;
   border-radius: 15px 0px  0px 15px ;
 }


 .firstsectionofpage div:nth-child(1){
  width: 70%;
  margin: 0;
}


.firstsectionofpage div:nth-child(2){
  width: 30%;
  padding: 2% ;
}


h2{
  margin: 5% 0% 2% 0%;
  font-weight: 400;
  padding: 1% 0;
  border-bottom: 2px solid var(--green);
  width: max-content;
}

h3{
  margin:0 ;
  font-weight: 500;
  font-style: italic;
}


.teampart{
  display: flex;
   flex-direction: column;
}


.profileslider{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;

}

.profileslider div {
width: 30%;
display: flex;
align-items: center;
flex-direction: column;
border-radius: 15px;
padding: 2%;
margin: 1%;
}

.profileslider img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.boderonly{
  border: 0.5px solid var(--whitish);
  text-align: left;
}


h4{
margin: 1% 0%;
}


footer{
  background-image:
   url(imgs/fotttttttt.jpg);
   background-image: 100%;
   background-repeat: no-repeat;
  background-color: var(--whitish);
  color: #000000;
  padding: 2%;
  text-align: center;
}

footer nav{
  background-color: rgba(255, 255, 255, 0);
}
.socials{
  margin: 2% auto;
  font-size: 2em;
  width: 30%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--brown);
  padding: 2%;
}
.socials a{
  text-decoration: none;
  color: var(--black);
  opacity: 0.2;
}

.socials a:hover{
  color: var(--green);
  opacity: 0.8;
  
}